<div id="article-new">
  <div class="container">
    <!-- Direction Button -->
    <div class="back-home-button">
      <a href="/"><i class="fa fa-home fa-3x text-danger fa-border"></i></a>
    </div>
    <!-- Main Content -->
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <form class="article-form" ng-submit="createArticle()">
          <div class="form-group">
            <label for="topic">Topic</label>
            <input type="text" class="form-control" ng-model="title" required />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea ckeditor="editorOptions" ng-model="content"></textarea>
          </div>
          <div class="form-group">
            <label for="catrgory">Category</label>
            <select ng-model="name">
              <option value="1">Coding</option>
              <option value="2">Travel</option>
              <option value="3">Movie</option>
              <option value="4">Others</option>
              <option value="5">Technology</option>
              <option value="6">Commerce</option>
              <option value="7">Mood</option>
            </select>
          <input type="submit" value="Submit" class="btn btn-default pull-right" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
