<div id="article-show">
  <!-- Direction Button -->
  <div class="back-top-button">
    <a href="" ng-click="scrollTop()"}><i class="fa fa-arrow-up fa-3x text-danger fa-border"></i></a>
  </div>
  <div class="back-home-button">
    <a href="/"><i class="fa fa-home fa-3x text-danger fa-border"></i></a>
  </div>
  <!-- Main Content -->
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
      <div ng-if="article.user_id == user.id">
        <button ng-click="editAnArticle()" class="btn btn-default pull-right">Edit</button>
        <button ng-click="deleteAnArticle()" class="btn btn-default pull-right">Delete</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <h1>{{article.title}}</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <h3><span class="glyphicon glyphicon-heart-empty"></span> {{article.like}}</h3>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <h3><span class="glyphicon glyphicon-heart"></span> {{article.browse_times}}</h3>
        </div>
      </div>
      <div class="row">
        <p class="article-content">{{article.content}}</p>
      </div>
    </div>
  </div>
</div>


