<div id="archive-page">
  <div class="container">
    <!-- Direction Button -->
    <div class="back-top-button">
      <a href="" ng-click="scrollTop()"}><i class="fa fa-arrow-up fa-3x text-danger fa-border"></i></a>
    </div>
    <div class="back-home-button">
      <a href="/"><i class="fa fa-home fa-3x text-danger fa-border"></i></a>
    </div>
    <!-- Main Content -->
    <!-- Tab -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="" ng-click="listByTimeOrCategory(1)">Timeline</a></li>
      <li><a data-toggle="tab" href="" ng-click="listByTimeOrCategory(2)">Category</a></li>
    </ul>
    <!-- Article List -->
    <div class=" archive-title">
      <div ng-if="listByTime">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <h2><strong>2016</strong></h2>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <h4><i class="fa fa-heart text-danger"></i></h4>
            </div>
          </div>
          <div class="row" ng-repeat="article in articles">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <h4>{{article.like}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!listByTime">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row"> <br>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown">Category
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="" ng-click="displayCategory(1)">Coding</a></li>
                <li><a href="" ng-click="displayCategory(2)">Travel</a></li>
                <li><a href="" ng-click="displayCategory(3)">Movie</a></li>
                <li><a href="" ng-click="displayCategory(5)">Technology</a></li>
                <li><a href="" ng-click="displayCategory(6)">Commerce</a></li>
                <li><a href="" ng-click="displayCategory(7)">Mood</a></li>
                <li><a href="" ng-click="displayCategory(4)">Others</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div ng-switch="categoryItem">
              <div ng-switch-default>
                <h1>Coding</h1>
                <div class="row" ng-repeat="article in categoryCoding">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
              <div ng-switch-when="1">
                <h1>Coding</h1>
                <div class="row" ng-repeat="article in categoryCoding">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
              <div ng-switch-when="2">
                <h1>Travel</h1>
                <div class="row" ng-repeat="article in categoryTravel">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
              <div ng-switch-when="3">
                <h1>Movie</h1>
                <div class="row" ng-repeat="article in categoryMovie">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
              <div ng-switch-when="4">
                <h1>Others</h1>
                <div class="row" ng-repeat="article in categoryOthers">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
              <div ng-switch-when="5">
                <h1>Technology</h1>
                <div class="row" ng-repeat="article in categoryTechnology">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
              <div ng-switch-when="6">
                <h1>Commerce</h1>
                <div class="row" ng-repeat="article in categoryCommerce">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
              <div ng-switch-when="7">
                <h1>Mood</h1>
                <div class="row" ng-repeat="article in categoryMood">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="text-center">{{article.created_at | StringSliceFilter: 5: 10}}</h4>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h4><a href="" ng-click="getAnArticle(article.id)">{{article.title | limitTo: 30}}</a></h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
