#introduction {
  
  padding-top: 30px;
  padding-bottom: 50px;
  
  #my-photo {
    position: relative;
    padding-bottom: 30px;
  }
  
  .description {
    position: absolute;
    bottom:40px;
    left: 110px;
    color: white;
  }
  
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 7px;
    max-width: 100%;
    width: 600px;
  }
  
  span {
    color: #f93838;
    font-weight: bold;
  }
  
  i {
    color: #b612af;
  }
}
