#home {

  .back-top-button {
    position: fixed;
    right: 10px;
    bottom: 95px;
    z-index: 1;
    background-color: transparent;
  }

  .panel-footer {
    background-color: white !important;
  }

}
