html, body {
  height: 100%;
}

#nav-background {
  height: 320px;
  background-image: url(image-path('1.jpg'));
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bar {
//  padding-top:230px;
}

.search-title {
  padding-top: 200px;
  color: white;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#main-content {
  margin-top: -20px;
  padding-bottom: 150px;
}

#link {
  padding-top: 30px;
  padding-bottom: 30px;
}

.fa-3x {
  color: white;
}

#copyright {
  padding-top: 5px;
  font-size: 17px;
  color: #d8d8d8;
}

#footer-bar {
  background-color: #3c3c3c;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}
