#search-page {
  
  min-height: 500px;
  
  .back-top-button {
    position: fixed;
    right: 10px;
    bottom: 155px;
    z-index: 1;
  }

  .back-home-button {
    position: fixed;
    right: 10px;
    bottom: 95px;
    z-index: 1;
  }


}
