#archive-page {
  
  padding-top: 50px;
  
  .archive-title {
    padding-bottom: 600px;
    height: 10px;
  }

  #article-title {
    font-size: 16px;
  }

  .back-top-button {
    position: fixed;
    right: 10px;
    bottom: 155px;
    z-index: 1;
  }

  .back-home-button {
    position: fixed;
    right: 10px;
    bottom: 95px;
    z-index: 1;
  }
  
  .fa-heart {
    padding-top: 17px;
  }

}
