<!-- Footer Bar of AlanYeh Blog -->
<div id="footer-bar">
  <footer class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12">
      <p class="text-center" id="copyright"><br>
        <strong>Copyright &copy; 2016 AlanYeh</strong><br>
        <strong>Designed by <a href="#"> Alanyeh</a></strong>
      </p>
      </div>
      <div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-2" id="link">
        <a href="https://github.com/alanyeh20001" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" id="link">
        <a href="https://www.linkedin.com/in/%E6%99%BA%E5%BC%B7-%E8%91%89-a09601112?trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" id="link">
        <a href="https://www.flickr.com/photos/114787703@N02/" target="_blank"><i class="fa fa-flickr fa-3x"></i></a>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" id="link">
        <a href="http://stackoverflow.com/users/5482412/alanyeh?tab=profile" target="_blank"><i class="fa fa-stack-overflow fa-3x"></i></a>
      </div>
    </div>
  </footer>
</div>

