<!-- Footer Bar of AlanYeh Blog -->
<div id="footer-bar">
  <footer class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p class="text-center"><br>
        Copyright &copy; 2015 AlanYeh<br>
        Designed by <a href="#"> Alanyeh</a>
      </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
      </div>
    </div>
  </footer>
</div>

